<%= link_to 'create new article', new_article_path %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Text</th>
		</tr>
	</thead>
	<tbody>
			<%@article.each do |x|%>
		<tr>
			<td><%=x.title%></td>
			<td><%=x.text%></td>
			<td><%= link_to 'show', article_path(x)%></td>
			<td><%= link_to 'edit', edit_article_path(x)%></td>
			<td><%= link_to 'delet', article_path(x),
			 method: :delete   ,       

			data: {confirm: "are you sure?"}%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>